{% extends 'raport_from_list/base.html' %}
{% load static %}

{% block title %} 
File upload
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "raport_from_list/home.css" %}"/>
  <link rel="stylesheet" href="{% static "raport_from_list/list_upload.css" %}"/>
{% endblock %}

{% block content %}
<div class = "list-upload-background-container">
  <div class="profile-image-container">
    <div class="input-container img-container">
        <img src="{% static 'raport_from_list/images/pink_clock.jpg' %}" alt="My Image">
      <h1>Document Upload</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          {{ doc_form }}
        </div>
        <button type="submit" class="submit-button">Submit</button>
      </form>
      <a class="load-example" href="{% url 'load_example' username=request.user.username %}">Load example docx</a>
    </div>
  </div>
</div>

{% endblock %}

