{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Łukasz Gąsior - Portfolio</title>
    <link rel="stylesheet" href="{% static "./aboutme.css" %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="bg-[#007092] p-4 w-full fixed top-0 z-30">
        <ul class="flex flex-col flex-wrap md:flex-row md:justify-end items-center list-none">
            <li class="md:mr-auto md:ml-10">
                <a href="{% url 'home' %}" class="text-white no-underline text-xl">Raport Generator</a>
            </li>
            <li class="md:mr-10">
                <a href="#Programming Interests" class="text-white no-underline text-xl">Programming Interests</a>
            </li>
            <li class="md:mr-10">
                <a href="#Projects" class="text-white no-underline text-xl">Projects</a>
            </li>
            <li class="md:mr-10">
                <a href="#Contact" class="text-white no-underline text-xl">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="absolute inset-0 overflow-hidden z-10 h-[90rem]">
        <img src="{% static 'images/water3.jpg' %}" alt="Tło" class="w-full h-full object-cover animate-scrolling absolute top-0 left-0">
    </div>

    <div class="absolute inset-x-0 mt-[25rem] lg:mt-[10rem] h-full z-20 bg-transparent">
        <div class="bg-transparent">
            <img src="{% static 'images/main-image.jpg' %}" alt="Profile image" class="h-[25rem] mb-[5rem] ml-[5rem] hidden lg:block object-contain rounded-full border-[1rem] border-[#f9f9f9]">
        </div>
        <div class="text-grey-400 md:h-1/2 bg-white relative flex flex-col justify-center md:items-start">
            <div class="absolute h-14 w-full -top-1/2 text-[4rem] text-bold md:-top-1/2 md:mb-[10rem]">
                <p class="text-[#f9f9f9] lg:text-right sm:text-center lg:mr-[10rem] mt-[5rem] text-center md:mt-0">Łukasz Gąsior</p>
            </div>
            <p class="text-2xl mx-[1rem] lg:mx-[15rem] text-[#001c25]  my-[5rem] text-justify text-center leading-[2.5rem] ">
                Hello, my name is Łukasz. Currently, I work as a scientist at the Polish Academy of Sciences, specializing in reproductive biology and neurobiology. Although my academic background is in biological sciences where I earned a doctorate, my interest shifted towards IT, specifically in Python programming, web development, and data analysis.
            </p>
        </div>
        <div id="Programming Interests" class="flex flex-col lg:flex-row items-center bg-[#99d1e3]">
            <div class="interests-description flex-1 mx-[1rem] md:mx-[5rem] lg:ml-[15rem]">
                <p class="leading-[2.5rem] text-[1.2rem] text-[#001c25] my-[5rem] text-justify text-center">
                    I find great satisfaction in problem-solving and experimenting, and programming provides a platform to iterate and learn without the cost constraints of biological experiments. I've always been interested in continual growth and learning, but I found my options for development in the scientific field limited. This led me to explore another field - Information Technology.
                </p>
            </div>
            <div class="interests flex-1 flex flex-col items-center gap-[4rem] text-center md:mr-[15rem]">
                <h2 class="text-4xl font-bold text-[#e6f4f8]">Programming Interests</h2>
                <div class="dropdown mb-[5rem] relative text-[#00465d] border-[1px] border-[#001c25] p-2 px-4 text-center font-bold text-[1.2rem]" id="dropdownButton">
                    <button>Finished courses&emsp;&#8744;</button>
                    <div class="dropdown-content hidden absolute z-40 top-full left-1/2 transform -translate-x-1/2 md:w-[800px] w-full text-left bg-[#f9f9f9] leading-[2.5rem] font-normal shadow-lg" id="dropdownContent">
                        {% for pdf_file in pdf_files %}
                        <a href="{% static 'courses/'|add:pdf_file %}" target="_blank">{{ forloop.counter }}. {{ pdf_file }}</a>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="Projects" class="bg-[#e6f4f8] pt-10 pb-20 px-5">
            <h2 class="text-4xl font-bold text-center text-[#001c25] mb-10">Projects</h2>
            <div class="flex flex-wrap justify-center gap-4">
                <!-- Karta projektu -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 m-2 transition duration-300 ease-in-out transform hover:-translate-y-2">
                    <h3 class="text-xl font-bold mb-2">Capybara Investments Platform</h3>
                    <div class="overflow-hidden" style="height: 400px;">
                        <img src="{% static 'images/capybara_invest.png' %}" alt="" class="h-full object-cover">
                    </div>
                    <br>
                    <p class="text-gray-700 text-base mb-4">
                        The Capybara Investments project marked a significant advancement in my Django skills, emphasizing the importance of creating visually appealing and accessible applications. It blended my existing expertise with a budding interest in JavaScript, enhancing my web development skills. This project delved into custom strategy optimization, integrating real-time data and advanced analytics for tailored solutions.
                        Leveraging yfinance for real-time stock updates and Chart.js for interactive data visualization, the project offered an engaging analysis experience. Django's robust backend was crucial for tracking transactions and analyzing user activity. The implementation of AJAX for asynchronous operations provided a seamless, reload-free user experience, demonstrating modern web development efficiencies.
                    </p>
                    <div class="flex justify-center gap-4">
                        <a href="https://github.com/Luksonini/Momentum_wallet" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/github-sign.png' %}" alt="GitHub">
                        </a>
                        <a href="https://www.youtube.com/watch?v=KgnrLM2Jw0A&ab_channel=zimekpl1" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/youtube.png' %}" alt="YouTube">
                        </a>
                    </div>
                </div>
                <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 m-2 transition duration-300 ease-in-out transform hover:-translate-y-2">
                    <h3 class="text-xl font-bold mb-2">Report Generator</h3>
                    <div class="overflow-hidden" style="height: 400px;">
                        <img src="{% static 'images/raport-generator.png' %}" alt="" class="h-full object-cover">
                    </div>
                    <br>
                    <p class="text-gray-700 text-base mb-4">
                        As the lead developer, I designed and implemented an advanced custom report generation system. This project expanded my skills in Django and underscored the importance of creating visually appealing and accessible applications. It also sparked my interest in JavaScript, which I am currently learning to further enhance my web development capabilities.
                    </p>
                    <div class="flex justify-center gap-4 mt-auto">
                        <a href="https://github.com/Luksonini/Raport-Generator" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/github-sign.png' %}" alt="GitHub">
                        </a>
                        <a href="https://www.youtube.com/watch?v=s3WD2rtW6Ss&ab_channel=zimekpl1" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/youtube.png' %}" alt="YouTube">
                        </a>
                        <a href="{% url 'home' %}"  target="_blank">
                            <img class="h-[64px] transform transition duration-300 ease-in-out hover:scale-110" src="{% static 'images/world-wide-web.png' %}" alt="www">
                        </a>
                    </div>
                </div>
                <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 m-2 transition duration-300 ease-in-out transform hover:-translate-y-2">
                    <h3 class="text-xl font-bold mb-2">Laboratory Management System</h3>
                    <div class="overflow-hidden" style="height: 400px;">
                        <img src="{% static 'images/lab-manager.png' %}" alt="" class="h-full object-cover">
                    </div>
                    <br>
                    <p class="text-gray-700 text-base mb-4">
                        A comprehensive laboratory management system developed for the Polish Academy of Sciences. This system integrates various modules such as laboratory schedule management, reagent tracking, sample management, and scientific protocol generation, thereby enhancing the operational efficiency of neurobiology labs.
                    </p>
                    <div class="flex justify-center gap-4 mt-auto">
                        <a href="https://github.com/Luksonini/laboratory_manager" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/github-sign.png' %}" alt="GitHub">
                        </a>
                        <a href="https://www.youtube.com/watch?v=nPeCeCir65Q&ab_channel=zimekpl1" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/youtube.png' %}" alt="YouTube">
                        </a>
                        <a href="https://neurobiologia.pythonanywhere.com/accounts/signin/?next=/" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/world-wide-web.png' %}" alt="YouTube">
                        </a>
                    </div>
                </div>
                <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 m-2 transition duration-300 ease-in-out transform hover:-translate-y-2">
                    <h3 class="text-xl font-bold mb-2">Interactive Online Auction System</h3>
                    <div class="overflow-hidden" style="height: 400px;">
                        <img src="{% static 'images/e-commerce.png' %}" alt="" class="h-full object-cover">
                    </div>
                    <br>
                    <p class="text-gray-700 text-base mb-4">
                        Explore the thrill of online bidding with our Interactive Online Auction System. Built on Django, this platform offers users a seamless experience, from browsing auctions to adding favorites to their watchlist. Registered members can bid, comment, and even manage their auctions with a user-friendly interface. The admin page provides comprehensive control over listings, facilitating an organized and dynamic auction environment.
                    </p>
                    <div class="flex justify-center gap-4 mt-auto">
                        <a href="https://github.com/Luksonini/cs50_commerce" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/github-sign.png' %}" alt="GitHub">
                        </a>
                        <a href="https://www.youtube.com/watch?v=T0iaN4oYSM4&feature=youtu.be&ab_channel=zimekpl1" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/youtube.png' %}" alt="YouTube">
                        </a>
                    </div>
                </div>
                <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 m-2 transition duration-300 ease-in-out transform hover:-translate-y-2">
                    <h3 class="text-xl font-bold mb-2">FastFood Snake</h3>
                    <div class="overflow-hidden mx-auto" style="height: 400px;">
                        <img src="{% static 'images/snake.png' %}" alt="" class="h-full object-cover">
                    </div>
                    <br>
                    <p class="text-gray-700 text-base mb-4">
                        This Snake game was one of my early Python projects, created as a fun way to learn the basics of programming. It offers a classic gaming experience with a Python twist. I decided to share it because of its simplicity and nostalgic charm. The game uses Turtle for graphics and Pygame for sound, providing an immersive experience with various levels, unique backgrounds, and sound effects. It's a lighthearted and entertaining introduction to Python for beginners.
                    </p>
                    <div class="flex justify-center gap-4 mt-auto">
                        <a href="https://github.com/Luksonini/commercial_snake.git" target="_blank">
                            <img class="h-[64px]" src="{% static 'images/github-sign.png' %}" style="object-fit: cover; alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bg-[#00465d] flex-col xl:flex-row gap-[4rem] flex">
          <div class="interests flex-1 flex-col items-center justify-center gap-[4rem] text-center mx-[1rem] md:mx-[7.5rem] mt-[3rem] xl:my-[10rem] ">
              <h2 class="text-4xl font-bold text-[#e6f4f8]">Contact Me</h2>
              <p class="leading-[2.5rem] text-[1.2rem] text-[#e6f4f8] my-[5rem] text-justify">I am open to collaboration, learning opportunities, internships, or job offers. If you'd like to work with me, teach me something new, or offer me a position, please do not hesitate to contact me.</p>
              <div class="address flex flex-col justify-start md:items-start leading-[2.5rem] text-[1.2rem] text-[#e6f4f8]">
                  <span>Łukasz Gąsior</span>
                  <span>Email: lukasz.jozef.gasior@gmail.com</span>
                  <div class="contact-icons flex justify-between md:gap-[4rem] my-[2rem]">
                      <a href="https://www.researchgate.net/profile/Lukasz-Gasior-2"><img class="h-[64px] transform transition duration-300 ease-in-out hover:scale-110" src="{% static 'images/researchgate2.png' %}" alt="Researchgate icon"></a>
                      <a href="https://www.facebook.com/profile.php?id=100000615463002"><img class="h-[64px] transform transition duration-300 ease-in-out hover:scale-110" src="{% static 'images/facebook3.png' %}" alt="facebook icon"></a>
                      <a href="#"><img class="h-[64px] transform transition duration-300 ease-in-out hover:scale-110" src="{% static 'images/linkedin.png' %}" alt="linkedin icon"></a>
                  </div>
              </div>
          </div>
          <div class="flex-1 flex justify-center items-center mb-[3rem] lg:my-[2rem]">
            <form id="Contact" class="flex flex-col justify-between items-center justify-center gap-[2rem]" method="post">
                {% csrf_token %}
                <div class="flex flex-col md:flex-row gap-[4rem] justify-center text-[1.2rem] text-[#e6f4f8]">
                    <div class="firstname-group flex flex-col">
                        <label for="firstname">First Name</label>
                        <input class="appearance-none focus:outline-none bg-transparent border-b-2 border-[#e6f4f8]" type="text" id="firstname" name="first_name" required>
                        {% if form.first_name.errors %}
                            <div class="error">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="lastname-group flex flex-col">
                        <label for="lastname">Last Name</label>
                        <input class="appearance-none focus:outline-none bg-transparent border-b-2 border-[#e6f4f8]" type="text" id="lastname" name="last_name" required>
                        {% if form.last_name.errors %}
                            <div class="error">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-col sm:flex-row gap-[4rem] justify-center text-[1.2rem] text-[#e6f4f8]">
                    <div class="email-group flex flex-col">
                        <label for="email">Email</label>
                        <input class="appearance-none focus:outline-none bg-transparent border-b-2 border-[#e6f4f8]" type="text" id="lastname" name="email" required type="email" id="email" name="email" required>
                        {% if form.email.errors %}
                            <div class="error">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="subject-group flex flex-col">
                        <label for="subject">Subject</label>
                        <input class="appearance-none focus:outline-none bg-transparent border-b-2 border-[#e6f4f8]" type="text" id="lastname" name="subject" required type="text" id="subject" name="subject" required>
                        {% if form.subject.errors %}
                            <div class="error">{{ form.subject.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group w-full text-[1.2rem] text-[#e6f4f8]">
                    <div class="message-group subject-group flex flex-col">
                        <label  for="message">Leave a message</label>
                        <textarea class="appearance-none focus:outline-none bg-transparent border-b-2 border-[#e6f4f8] w-full" id="message" name="message" required></textarea>
                    </div>
                </div>
                <div class="input-group self-start">
                    <input class="bg-transparent w-[150px] border-[1px] border-[#e6f4f8] p-2 px-4 text-center text-[1.2rem] text-[#e6f4f8] hover:bg-[#e6f4f8] hover:text-[#00465d]" type="submit" value="Submit">
                    {% if success_message %}
                    <div class="message-succes text-[#e6f4f8] text-[1.2rem]" role="alert">
                        {{ success_message }}
                    </div>
                    {% endif %}
                    {% if error_message %}
                        <div class="message-error text-[#e6f4f8] text-[1.2rem]" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    </div>
                </div>
            </forms>
          </div> 
          <footer class="text-center bg-[#99d1e3]">
            <p>©2023 by Łukasz Gąsior. Hosted on PythonAnywhere. All rights reserved.</p>
        </footer>
      </div>
    </div>
</body>
</html>

<script>
  document.getElementById('dropdownButton').addEventListener('mouseover', function() {
      document.getElementById('dropdownContent').classList.remove('hidden');
  });
  document.getElementById('dropdownButton').addEventListener('mouseout', function() {
      document.getElementById('dropdownContent').classList.add('hidden');
  });

  // Zapisz pozycję przed wysłaniem formularza
    window.addEventListener('beforeunload', function() {    
    localStorage.setItem('scrollPosition', window.scrollY);
  });
  
  // Przywróć pozycję po przeładowaniu
  window.addEventListener('load', function() {
    if (localStorage.getItem('scrollPosition')) {
      window.scrollTo(0, localStorage.getItem('scrollPosition'));
    }
  });
</script>