{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Łukasz Gąsior - Portfolio</title>
    <link rel="stylesheet" href="{% static "./aboutme.css" %}"/>

</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="{% url 'home' %}" class="navbar-link">Raport Generator</a></li>
            <li class="navbar-item"><a href="#Programming Interests" class="navbar-link">Programming Interests</a></li>
            <li class="navbar-item"><a href="#Projects" class="navbar-link">Projects</a></li>
            <li class="navbar-item"><a href="#Contact" class="navbar-link">Contact</a></li>
        </ul>
    </nav>
    <div class="grid-container">
        <div class="grid-item-1">
            <img src="{% static 'images/water3.jpg' %}" alt="background image showing water">
        </div>
        <div class="grid-item-2">
            <section class="introduction">
                <div class="introduction-text">
                    <p>&emsp;&emsp;&emsp;&emsp;Hello, my name is Łukasz. Currently, I work as a scientist at the Polish Academy of Sciences, specializing in reproductive biology and neurobiology. Although my academic background is in biological sciences where I earned a doctorate, my interest shifted towards IT, specifically in Python programming, web development, and data analysis.</p>
                </div>
            </section>
        </div>
        <div class="grid-item-3">
            {% comment %} <img src="{% static 'images/main-image.jpg' %}" alt="Profile image"> {% endcomment %}
            <div class="ball"></div>
        </div>
        <div class="grid-item-4">
            Łukasz Gąsior
        </div>
        <div id="Programming Interests" class="grid-item-5">
            <div class="interests-description">
                <p class="interests-description-paragraph">&emsp;&emsp;&emsp;&emsp;I find great satisfaction in problem-solving and experimenting, and programming provides a platform to iterate and learn without the cost constraints of biological experiments. I've always been interested in continual growth and learning, but I found my options for development in the scientific field limited. This led me to explore another field - Information Technology.</p>
            </div>
            <div class="interests">
                <h2 class="intrests-header">Programming Interests</h2>
                <div class="dropdown">
                    <button>Finished courses&emsp;&#8744;</button>
                    <div class="dropdown-content">
                        {% for pdf_file in pdf_files %}
                            <a href="{% static 'courses/'|add:pdf_file %}">{{ pdf_file }}</a>
                        {% endfor %}
                    </div>
                  </div>
            </div>
        </div>
        <div id="Projects" class="grid-item-6">
            <div class="Projects">
                <h2 class="projects-header">Projects</h2>
            </div>
            <div class="my-projects">
                <p class="my-projects-paragraph">&emsp;&emsp;&emsp;&emsp;Raport Generator is my first project and it served as a stepping stone to learn HTML, CSS, data manipulation libraries like Pandas, and Django, a popular web development framework. I strongly believe that an application should be visually appealing and accessible to a broad audience, which sparked my interest in web design. Currently, I am learning JavaScript to enhance my web development capabilities.</p>
                <p class="my-projects-paragraph">&emsp;&emsp;&emsp;&emsp;Beyond programming and web development, I also have a keen interest in economics and financial markets. I am working on a second project that aims to analyze financial markets using machine learning. The goal of this application is to recommend the best Polish and international companies to invest in, and present the current performance of the proposed investment portfolio.</p>
            </div>
        </div>
        <div class="grid-item-7">
            <div class="interests-description">
                <p class="interests-description-paragraph">&emsp;&emsp;&emsp;&emsp;Raport Generator is my first project and it served as a stepping stone to learn HTML, CSS, data manipulation libraries like Pandas, and Django, a popular web development framework. I strongly believe that an application should be visually appealing and accessible to a broad audience, which sparked my interest in web design. Currently, I am learning JavaScript to enhance my web development capabilities.</p>
                <p class="interests-description-paragraph">&emsp;&emsp;&emsp;&emsp;Beyond programming and web development, I also have a keen interest in economics and financial markets. I am working on a second project that aims to analyze financial markets using machine learning. The goal of this application is to recommend the best Polish and international companies to invest in, and present the current performance of the proposed investment portfolio.</p>
            </div>
            <div class="interests">
                <h2 class="intrests-header">Raport Generator</h2>
                <div class="dropdown">
                    <a class="raport-gen-btn" href="{% url 'home' %}">Raport Generator</a>
                </div>
            </div>
        </div>
        <div id="Contact" class="grid-item-8">
            <div class="contact">
                <h2 class="contact-header">Contact Me</h2>
                <p class="contact-paragraph">&emsp;&emsp;&emsp;&emsp;I am open to collaboration, learning opportunities, internships, or job offers. If you'd like to work with me, teach me something new, or offer me a position, please do not hesitate to contact me. This would provide an opportunity for further growth and development.</p>
                <div class="address">
                    <span>Łukasz Gąsior</span>
                    <span>Email: lukasz.jozef.gasior@gmail.com</span>
                    <div class="contact-icons">
                        <div>
                            <a href="https://www.researchgate.net/profile/Lukasz-Gasior-2"><img src="{% static 'images/researchgate2.png' %}" alt="Researchgate icon"></a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=100000615463002"><img src="{% static 'images/facebook3.png' %}" alt="facebook icon"></a></a>
                        </div>
                        <div>
                            <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="linkedin icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="firstname-group">
                            <label for="firstname">First Name</label>
                            <input type="text" id="firstname" name="first_name" required>
                            {% if form.first_name.errors %}
                                <div class="error">{{ form.first_name.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="lastname-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" id="lastname" name="last_name" required>
                            {% if form.last_name.errors %}
                                <div class="error">{{ form.last_name.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="email-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required>
                            {% if form.email.errors %}
                                <div class="error">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="subject-group">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" name="subject" required>
                            {% if form.subject.errors %}
                                <div class="error">{{ form.subject.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="message-group">
                            <label for="message">Leave a message</label>
                            <textarea id="message" name="message" required></textarea>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                        {% if success_message %}
        <div class="message-succes" role="alert">
            {{ success_message }}
        </div>
        {% endif %}
        {% if error_message %}
            <div class="message-error" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        </div>
            </div>
        </div>
    <footer>
        <p>©2023 by Łukasz Gąsior. Hosted on PythonAnywhere. All rights reserved.</p>
    </footer>
</body>
</html>