{% extends 'raport_from_list/base.html' %}
{% load static %}

{% block title %} 
Password change
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "raport_from_list/home.css" %}"/>
  <link rel="stylesheet" href="{% static "users/registration.css" %}"/>
{% endblock %}

{% block content %}


<div class="login-image-container">
  <div class="input-container">
    <div class="registration-container">
          <img src="{% static 'users/images/login-icon.png' %}" alt="login-icon">
          <h2 class="h2-info">Password reset successful</h2>
          <p class="p-info">
            <span>We have sent you an email with instructions on how to reset your password.</span><br>  
            <span>Please check your email.</span> 
          </p>
    </div>
  </div>
</div> 
{% endblock %} 