{% extends 'raport_from_list/base.html' %}
{% load static %}

{% block title %} 
Profile
{% endblock %} 

{% block css_files %}
    <link rel="stylesheet" href="{% static 'raport_from_list/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'users/registration.css' %}"/> 
    <link rel="stylesheet" href="{% static 'users/profile.css' %}"/>
    <style>
        .privacy-policy-container {
            margin: 2rem auto;
            max-width: 800px;
            padding: 2rem;
            background-color: #f5f5f5;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        .privacy-policy-container h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        
        .privacy-policy-container p {
            font-size: 1.6rem;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}

{% block content %}
<div class="profile-image-container">
    <div class="profile-container">
        <div class="container glass">
            <!-- Privacy Policy -->
            <div class="privacy-policy-container">
                <h1>Privacy Policy</h1>
                <p>We take your privacy seriously. This Privacy Policy explains how we collect, use, disclose, and safeguard your personal information when you use our services.</p>
                
                <h2>Information We Collect</h2>
                <p>We may collect personal information from you when you register for an account, use our services, make a purchase, or contact us. This information may include your name, email address, contact information, and any other information you provide to us.</p>
                
                <h2>How I Can Use Your Information</h2>
                <p>I may use the information we collect from you to:</p>
                <ul>
                    <li>Provide and maintain our services</li>
                    <li>Improve our services and develop new features</li>
                    <li>Personalize your experience</li>
                    <li>Respond to your inquiries and provide support</li>
                </ul>
                
                <h2>Information Security</h2>
                <p>We implement security measures to protect your personal information from unauthorized access and disclosure. However, please remember that no method of transmission over the Internet or electronic storage is 100% secure.</p>
                
                <h2>Changes to This Privacy Policy</h2>
                <p>We may update our Privacy Policy from time to time. Any changes we make will be posted on this page, and the revised version will be effective immediately.</p>
                
                <h2>Contact Me</h2>
                <p>If you have any questions or concerns about our Privacy Policy, please contact me at lukasz.jozef.gasior@gmail.com.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}