
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #161515;
    font-family: 'Roboto', sans-serif;
  }

  html {
    /* font-size: 10px; */
  
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
  }

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007092;
  padding: 1rem 0;
  color: #f9f9f9;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
}

.navbar-item:first-child {
  margin-right: auto;
  margin-left: 10rem;
}

.navbar-item {
  margin-right: 10rem;
}

.navbar-link {
  color: #f9f9f9;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 2rem;
}

.navbar-link:hover {
  color: #99d1e3;
}

/* contents */

.introduction, .programming-interest, .projects, .report-generator, .contact {
    margin-bottom: 20px;
}


.grid-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fill, minmax(20rem, auto)); */
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(4,1fr);
    height: 375vh;
  }
  
  .grid-item-1 {
    grid-column: 1 /-1;
    grid-row: 1 / 3;
    z-index: -1;
  }

  .grid-item-1 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position:fixed;
    top: -7 0rem;
    animation: upAndDown 180s ease-in-out infinite; /* adjust the time as needed */
  }

  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-70rem);
    }
}

/* about me  */
.grid-item-2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column: 1 /-1;
  grid-row: 3 / 5;
  background-color: #fff;
  z-index: 1;
  color: #161515;
}

.introduction{
  grid-column: 2 /-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 2;
}

.introduction-text{
  margin: 0 10rem 0 0;
  font-size: 2.5rem;
  color: #161515;
}

.introduction h1{
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
}

  
.grid-item-3 {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  z-index: 1;
}

/* alpaka image */


@keyframes ballAnimation {
  0% {
    transform: translateX(-100%) rotate(0deg);
  }
  25% {
    transform: translateX(-75%) rotate(90deg);
  }
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  75% {
    transform: translateX(-25%) rotate(270deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.grid-item-3 img {
    height: 80%;
    width: auto;
    object-fit: cover;
    border: solid 1rem #99d1e3;
    border-radius: 1000rem;
    z-index: 1;
    margin-left: 20rem;
    /* left: 5rem;   */
    position: relative;
    animation: ballAnimation 3s linear forwards;
}


.grid-item-4 {
  grid-column: 3 / 6;
  grid-row: 2 ;
  z-index: 1;
  color: #161515;
  align-self: flex-end;
  justify-self: start; 
  background-color: transparent;
  color: #FFF;
  font-size: 6rem;
  font-weight: 700;
}

.grid-item-5{
  grid-column: 1 / -1;
  grid-row: 5 / 7;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  background-color: #99d1e3;
  z-index: 1;
}

.interests{
  display: flex;
  align-items: center;
  justify-content: center;
} 

.intrests-header{
  color: #e6f4f8;
  font-size: 6rem;
}


.interests-description, .my-projects{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 10rem 0 10rem;
  font-size: 1rem;
}

.interests-description-paragraph, .my-projects-paragraph{
  color: #001c25;
  text-align: justify;
  font-size: 2rem;
  line-height: 2;
}

.dropdown a{
  text-decoration: none;
  color: #00465d;
  border: solid 1px #001c25;
}


/* dropbutton courses */

.interests{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Increase the z-index */
  font-size: 2rem;
  left: 50%; /* Set the dropdown to the horizontal center */
  transform: translateX(-50%); /* Center the dropdown using transform */
}

.dropdown button, .raport-gen-btn{
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #00465d;
  border: solid 1px #001c25;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  border: none;
  padding: 1rem;
}

.dropdown-content a:hover {
  color: #0883ac;
}


.dropdown:hover .dropdown-content {
  z-index: 3;
  display: block;
}

/* grid-6 */

.grid-item-6{
  grid-column: 1 / -1;
  grid-row: 7 / 10;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  background-color: #e6f4f8;
  z-index: 0;
}

.projects{
  display: flex;
  align-items: center;
  justify-content: center;
} 

.projects-header{
  color: #001c25;
  font-size: 6rem;
  text-align: center;
}



/* grid 7 */

.grid-item-7{
  grid-column: 1 / -1;
  grid-row: 10 / 13;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  background-color: #99d1e3;
  z-index: 1;
}

/* grid -8 */
.grid-item-8{
  grid-column: 1 / -1;
  grid-row: 13 / -1;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #00465d;
  z-index: 1;
}

.contact{
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.contact-header{
  color: #e6f4f8;
  font-size: 6rem;
  display: inline-block;
}

.contact-paragraph{
  display: inline-block;
  text-align: justify;
  margin: 0 10rem 0 10rem;
  font-size: 2rem;
  line-height: 2;
  color: #e6f4f8;
}

.address{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-left: 10rem;
}

.address span{
  font-size: 2rem;
  color: #e6f4f8;
  line-height: 1.6;
}


.contact-icons {
  width: 50rem;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  margin-top: 2rem;
}

.contact-icons img{
  height: 64px;
  transition: transform 0.5s ease;
}

.contact-icons img:hover{
  transform: scale(1.2);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 40%;
  margin: 0 auto 0 auto;
  font-size: 2rem; 
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-bottom: 2rem;
}

.contact-form label {
  color: white;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 0;
  color: white;
}

.contact-form input[type=text]:hover, 
.contact-form input[type=text]:focus,
.contact-form input[type=email]:hover, 
.contact-form input[type=email]:focus,
.contact-form textarea:hover, 
.contact-form textarea:focus {
  box-shadow: inset 0 -1.5px 0 0 white;
}

.contact-form input[type=submit] {
  cursor: pointer;
  width: 100%;
  font-size: 2rem;
  background: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
}

.contact-form input[type=submit]:hover{
  background-color: white;
  color: #00465d;
}

.firstname-group, 
.email-group, 
.subject-group, 
.lastname-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form textarea {
  max-height: 20rem;
  max-width: 100%;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
    outline: none;
}

footer{
  z-index: 1;
  background-color: #99d1e3;
  font-size: 1.6rem;
  text-align: center;
  color: #0883ac;
}